Feature: Validate {{feature}}

  Scenario: Validate that user should be able to {{feature}}
    When user post a GET request to {{feature}} API
    Then validate that response of {{feature}} API should have status code as 200